@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Full calendar
 */

:root {
  --fc-highlight-color: rgba(252, 165, 165, 0.2);
}

.fc .fc-event {
  @apply m-0 p-0;
}

.fc .fc-event-title {
  @apply !font-light;
}

.fc .fc-toolbar-title {
  @apply text-red-700 font-normal;
}

.fc .fc-view-harness {
  @apply shadow-lg;
}

.fc .fc-col-header-cell-cushion {
  @apply text-gray-700 font-normal text-sm uppercase tracking-wide;
}

.fc .fc-daygrid-day-top {
  flex-direction: row;
}

.fc .fc-daygrid-day-number {
  @apply w-full;
}

/**
 * Ember Power Select
 */

.ember-power-select-trigger {
  @apply appearance-none py-2 px-1 w-full min-h-9 text-sm border border-red-300 rounded-md bg-white opacity-100;
}

.ember-power-select-trigger.ember-power-select-multiple-trigger {
  @apply p-0.5;
}

.ember-power-select-trigger:focus,
.ember-power-select-trigger--active {
  @apply ring-blue-200 border-2 border-blue-200 outline-none;
}

.ember-power-select-selected-item {
  @apply ml-0;
}

.ember-power-select-search {
  @apply border-b p-2 border-gray-100;
}

.ember-power-select-search-input {
  @apply font-light border border-gray-300 ring-0 text-sm rounded;
}

.ember-power-select-search-input:focus {
  @apply border ring-0 border-gray-300;
}

.ember-power-select-option {
  @apply py-1 text-sm text-gray-900;
}

.ember-power-select-option[aria-current="true"] {
  @apply bg-gray-200 text-red-900;
}

.ember-power-select-option[aria-selected="true"] {
  @apply bg-indigo-100 text-red-900;
}

.ember-power-select-clear-btn {
  @apply px-1 -mr-1 text-red-600 rounded-full hover:bg-red-100 hover:text-red-700;
}

.ember-power-select-trigger-multiple-input {
  @apply px-2 py-1 text-sm;
}

.ember-power-select-trigger-multiple-input:focus {
  @apply ring-0 border-0;
}

.ember-power-select-multiple-options {
  @apply space-x-2;
}

.ember-power-select-multiple-option {
  @apply inline-flex rounded-lg border-0 items-center px-1.5 py-1 text-sm font-medium bg-gray-100 text-red-700;
}

.ember-power-select-multiple-remove-btn {
  @apply ml-0.5 mr-1 pb-0.5;
}

.ember-power-select-multiple-remove-btn:hover {
  @apply text-red-700;
}

.ember-power-select-dropdown.ember-basic-dropdown-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  @apply rounded-lg;
}

.ember-power-select-dropdown.ember-basic-dropdown-content
  > .ember-power-select-options {
    @apply pt-1;
}

.ember-power-select-group-name {
  @apply text-sm font-normal pr-2 truncate w-full block;
}

.highlight-event {
  @apply bg-red-100;
}

/**
 * links
 */

.active {
  @apply font-medium;
}

/**
 * Utility Classes
 */

.hover-appear {
  @apply opacity-0 transition-opacity duration-150 ease-in-out hover:opacity-100;
}

.group-hover-appear {
  @apply opacity-0 transition-opacity duration-150 ease-in-out group-hover:opacity-100;
}
