<div class="flex h-full flex-col bg-zinc-800 text-white w-44">
  <div class="flex flex-grow flex-col justify-between px-6 py-4">
    <div>
      <LinkTo
        @route="admin.users"
        class="flex items-center space-x-2 text-sm tracking-wide"
      >
        {{svg-jar "people" class="size-4"}}
        <span>Users</span>
      </LinkTo>
    </div>
  </div>

  <div
    class="flex items-center justify-between border-t-2 border-red-500 px-6 py-3"
  >
    <LinkTo class="text-sm font-medium text-white" @route="profile">
      {{this.userProfile.user.name}}
    </LinkTo>
    <MuLogout />
  </div>
</div>