<div class="flex h-full w-44 flex-col bg-zinc-800 text-white">
  <div class="px-6 py-4 space-y-4">
    <div>
      <LinkTo
        @route="year.month"
        @models={{array this.currentYear this.currentMonth}}
        class="flex items-center space-x-2 text-sm tracking-wide">
        {{svg-jar "chevron-left" class="size-4"}}
        <span>Back</span>
      </LinkTo>
    </div>
    <div>
      <LinkTo
        @route="admin.users"
        class="flex items-center space-x-2 text-sm tracking-wide">
        {{svg-jar "people" class="size-4"}}
        <span>Users</span>
      </LinkTo>
    </div>
    <div>
      <LinkTo
        @route="admin.timesheets"
        class="flex items-center space-x-2 text-sm tracking-wide">
        {{svg-jar "calendar" class="size-4"}}
        <span>Timesheets</span>
      </LinkTo>
    </div>
  </div>
</div>