<div class="h-full bg-gray-800 text-white flex flex-col">
  <div class="px-6 py-4 border-b border-gray-700">
    <label for="year" class="block text-sm font-medium mb-1 sr-only">Select Year</label>
    <select id="year" class="bg-gray-700 text-white w-full p-2 rounded">
      <option value="2024">2024</option>
      <option value="2023">2023</option>
      <option value="2022">2022</option>
    </select>
  </div>

  <div class="flex-grow px-6 py-4">
    <ul class="space-y-4">
      {{#each this.monthData as |month index|}}
        <li class="flex items-center justify-between space-x-12">
          <LinkTo
            @route="year.month"
            @model={{sum index 1}}
            class="text-sm tracking-wide">
            {{month.name}}
          </LinkTo>
          <span>
            {{#if month.completed}}
              {{svg-jar "check-lg" class="h-5 w-5 text-green-500"}}
            {{/if}}
          </span>
        </li>
      {{/each}}
    </ul>
  </div>

</div>