<div class="group flex h-12 items-center justify-between border-b">
  <div></div>
  <MonthSelector @year={{@year}} @month={{@month}} />
  <div class="mr-4 flex items-center justify-between">
    <LinkTo class="text-sm font-medium text-red-700" @route="profile">
      <div class="flex items-center gap-2">

        {{svg-jar "person-circle"}}
        {{person-first-name this.userProfile.user.name}}
      </div>
    </LinkTo>
  </div>
</div>