<div
  class="transform transition-all ease-in-out animate-fly-right animate-fly-left-out absolute z-10 w-96 rounded-md shadow-xl bg-white ring-1 ring-black ring-opacity-5"
  role="menu"
  aria-orientation="vertical"
  aria-labelledby="menu-button"
  tabindex="-1"
  {{did-insert this.onInsert}}
  {{floating-ui-auto-update @anchorElement this.moveToScreenPos}}
>
  {{yield}}
</div>