<div
  class="transform transition-all ease-in-out absolute z-10 rounded-md bg-white ring-1 ring-black ring-opacity-5 overflow-auto box-border"
  role="menu"
  aria-orientation="vertical"
  aria-labelledby="menu-button"
  tabindex="-1"
  {{did-insert this.onInsert}}
  {{floating-ui-auto-update @anchorElement this.moveToScreenPos}}
  ...attributes
>
  {{yield}}
</div>