<ul class="flex flex-wrap gap-2 w-full">
  {{#each @projects as |project|}}
    <li>
      <ProjectPillRadioButton
        @onSelectedChange={{@onChangeSelected}}
        @project={{project}}
        @checked={{eq project @selectedProject}}
      />
    </li>
  {{/each}}
</ul>