<ul class="flex flex-wrap gap-2 w-full">
  {{#each @projects as |project|}}
    <li>
      <ProjectPillRadioButton
        @onClick={{fn @onChange project}}
        @project={{project}}
        @checked={{eq project.id @selectedProject.id}}
      />
    </li>
  {{/each}}
</ul>