<div class="w-full h-screen">
  <div class="max-w-2xl h-full mx-auto px-4 py-6 sm:px-6 lg:px-8 flex items-center">
    <div class="rounded-md bg-red-50 p-4">
      <div class="flex">
        <div class="shrink-0">
          {{svg-jar "close-circle-fill" class="h-5 w-5 text-red-400 fill-current"}}
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-red-800">
            Page not found
          </h3>
          <div class="mt-2 text-sm text-red-700">
            <p>
              Unfortunately, this page cannot be found. Go back <LinkTo class="underline hover:red-800" @route="index">home</LinkTo>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>