{{page-title "Profile"}}
<div
  class="max-w-4xl mx-auto mt-10 bg-white shadow-lg rounded-lg overflow-hidden"
>
  <div class="bg-red-500 h-32">
    <div class="flex items-center justify-center h-full">
      <span class="text-white text-xl font-semibold">
        {{this.userProfile.user.name}}
      </span>
    </div>
  </div>

  <MuChangePassword />
</div>