{{page-title "Profile"}}
<div
  class="mx-auto mt-10 max-w-4xl overflow-hidden rounded-lg bg-white shadow-lg"
>
  <div class="h-32 bg-zinc-800">
    <div class="flex h-full items-center justify-center">
      <span class="text-xl font-semibold text-white">
        {{this.userProfile.user.name}}<span
          class="text-2xl text-red-500"
        >.</span>
      </span>
    </div>
  </div>

  <MuChangePassword />
</div>

<MuLogout class="absolute right-4 top-4 hover:rounded-full hover:bg-red-100" />
<LinkTo @route="application" class="absolute left-2 top-2 flex gap-2 hover:rounded-full hover:bg-gray-100 p-4">
  {{svg-jar "arrow-left" class="size-5"}}
  {{svg-jar "calendar-week" class="size-5"}}
</LinkTo>